<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
{#      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">#}
    <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
        <div class="container" style="float:left;">
        <div><canvas height="280" width="280" id="mycanvas"></canvas></div>
            <div class="container">
                <button id = button onclick="change()">Predict</button>
                <p id="result"></p>
        </div>
        </div>
        <div style="float:left; font-size: 200px; margin-left: 60px; padding: 20px" id="demo">
        </div>


        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
    </body>
</html>